<div class="create-org-container">
  <h2 class="title">Cadastrar Nova Organização</h2>

  <form (ngSubmit)="onSubmit()" #orgForm="ngForm" class="org-form">
    <div class="form-group">
      <label for="name">Nome da Organização</label>
      <input
        id="name"
        name="name"
        [(ngModel)]="organization.Name"
        placeholder="Ex: Tech Solutions Ltda"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        id="email"
        name="email"
        type="email"
        [(ngModel)]="organization.Email"
        placeholder="contato@empresa.com"
        required
      />
    </div>

    <div class="form-group">
      <label for="cnpj">CNPJ</label>
      <input
        id="cnpj"
        name="cnpj"
        maxlength="18"
        [(ngModel)]="organization.CNPJ"
        (input)="onCnpjInput($event)"
        placeholder="00.000.000/0000-00"
        required
      />
    </div>

    <div class="form-group">
      <label for="category">Categorias</label>
      <div class="category-input">
        <input
          id="category"
          [(ngModel)]="newCategory"
          name="category"
          placeholder="Ex: Varejo, Tecnologia..."
          (keydown.enter)="handleEnterCategory($event)"
        />
        <button type="button" (click)="addCategory()">Adicionar</button>
      </div>

      <div class="category-list" *ngIf="organization.Categories.length > 0">
        <span
          class="category-chip"
          *ngFor="let cat of organization.Categories; let i = index"
        >
          {{ cat }}
          <button type="button" (click)="removeCategory(i)">×</button>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="category">Departamentos</label>
      <div class="category-input">
        <input
          id="departament"
          [(ngModel)]="newDepartament"
          name="departament"
          placeholder="Ex: Recursos Humano, Financeiro, Fiscal..."
          (keydown.enter)="handleEnterDepartament($event)"
        />
        <button type="button" (click)="addDepartament()">Adicionar</button>
      </div>

      <div class="category-list" *ngIf="organization.Departaments.length > 0">
        <span
          class="category-chip"
          *ngFor="let dep of organization.Departaments; let i = index"
        >
          {{ dep }}
          <button type="button" (click)="removeDepartament(i)">×</button>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="SLA">Configuração de SLA</label>
      <div class="category-input">
        <select
          id="type"
          [(ngModel)]="newSLA.type"
          name="type"
          style="width: 30%;"
        >
          <option [ngValue]="0" disabled selected>Selecione o tipo</option>
          <option [ngValue]="1">Primeiro Atendimento</option>
          <option [ngValue]="2">Resolução</option>
        </select>

        <select
          id="slaPriority"
          [(ngModel)]="newSLA.slaPriority"
          name="slaPriority"
          style="width: 30%;"
        >
          <option [ngValue]="0" disabled selected>Selecione a prioridade</option>
          <option [ngValue]="1">Baixa</option>
          <option [ngValue]="2">Média</option>
          <option [ngValue]="3">Alta</option>
        </select>

        <input
          id="slaInMinutes"
          [(ngModel)]="newSLA.slaInMinutes"
          name="slaInMinutes"
          placeholder="Tempo em minutos..."
          style="width: 30%;"
        />

        <button type="button" (click)="addSLA()">Adicionar</button>
      </div>

      <div class="category-list" *ngIf="organization.Slas.length > 0">

        <table class="sla-table">
          <thead>
            <tr>
              <th>Tipo</th>
              <th style="text-align: center;">Prioridade</th>
              <th style="text-align: center;">Tempo em minutos</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sla of organization.Slas; let i = index">
              <td>{{ TranslateSLAType(sla.type) }}</td>
              <td class="center">{{ TranslateSLAPriority(sla.slaPriority) }}</td>
              <td class="center">{{ sla.slaInMinutes }}</td>
              <td>
                <button type="button" style="background-color: transparent; color: 1e3447; border: none;" (click)="removeSLA(i)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="actions">
      <button type="submit" [disabled]="!orgForm.form.valid">Salvar</button>
      <button type="button" class="cancel" (click)="cancel()" [routerLink]="['/gerenciamento-app']">Cancelar</button>
    </div>
  </form>
</div>
