<div class="dashboard">
  <h2>Bem-vindo, {{email}} 👋</h2>
  <p class="subtitle">Aqui está um resumo das atividades recentes</p>
  <div class="dashboard-container">
    <div *appHasRole="'AnalistaPolicy'" class="card">
      <div class="card-header">
        <h2>Chamados</h2>
      </div>
      <div class="card-content">
        <div class="tabs-list">
          <button
            [class.active]="activeTab === 'meus'"
            (click)="setActiveTab('meus')"
          >
            <span class="icon">👤</span>
              Meus Chamados
            <span class="badge">{{ getTabCount('meus') }}</span>
          </button>
          <button
            [class.active]="activeTab === 'pendentes'"
            (click)="setActiveTab('pendentes')"
          >
            <span class="icon">⚠️</span>
              Pendentes da Equipe
            <span class="badge">{{ getTabCount('pendentes') }}</span>
          </button>
          <button
            [class.active]="activeTab === 'andamento'"
            (click)="setActiveTab('andamento')"
          >
            <span class="icon">🕒</span>
              Em Andamento da Equipe
            <span class="badge">{{ getTabCount('andamento') }}</span>
          </button>
        </div>

        <div class="table-container">
          <table class="tickets-table">
            <thead>
              <tr>
                <th>Protocolo</th>
                <th>Assunto</th>
                <th>Requirente</th>
                <th>Status</th>
                <th>Analista Responsável</th>
                <th>Prioridade</th>
                <th>Última Atualização</th>
                <th>Prazo primeiro Atendimento</th>
                <th>Prazo Resolução</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticket of filteredTickets" (click)="goToTicketDetails(ticket.id)" >
                <td class="ticket-id">{{ ticket.protocol }}</td>
                <td class="ticket-assunto">{{ ticket.title }}</td>
                <td class="ticket-assunto">{{ ticket.customer.userEmail}} ({{ticket.customer.organizationName}})</td>
                <td>
                  <span class="status-badge" [ngClass]="getStatusClass(ticket.status)">
                    {{ TranslateStatus(ticket.status) }}
                  </span>
                </td>
                <td>{{ ticket.analyst.analystEmail}}</td>
                <td>
                  <span class="priority-badge " [ngClass]="getPriorityClass(ticket.priority)">
                    {{ TranslatePriority(ticket.priority) }}
                  </span>
                </td>
                <td class="ticket-update">{{ ticket.modifiedAt | date: 'HH:mm - dd/MM/yyyy'}}</td>
                <td class="ticket-update">
                  <span [innerHTML]="ValidaSLA(ticket.slaInfo.firstInteraction)"></span>
                  {{ ticket.slaInfo.firstInteraction.deadline ? (' ' + (ticket.slaInfo.firstInteraction.deadline | date:'HH:mm - dd/MM/yyyy')) : '' }}
                </td>
                <td class="ticket-update">
                  <span [innerHTML]="ValidaSLA(ticket.slaInfo.resolution)"></span>
                  {{ ticket.slaInfo.resolution.deadline ? (' ' + (ticket.slaInfo.resolution.deadline | date:'HH:mm - dd/MM/yyyy')) : '' }}
                </td>
              </tr>

              <tr *ngIf="filteredTickets.length < 1">
                <td colspan="9" style="text-align: center;" class="no-data">Sem tickets...</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card" style="margin-top: 2rem;">
        <div class="card-header">
          <h2>Resumo por Analista</h2>
        </div>

        <div class="card-content">
          <div class="tabs-list">
            <button
              *ngFor="let analyst of analysts"
              [class.active]="activeAnalyst === analyst.email"
              (click)="filterTicketsByAnalyst(analyst.email)"
            >
              <span class="icon">👤</span>
              {{ analyst.email }}
              <span class="badge">{{ analyst.total }}</span>
            </button>
          </div>

          <div class="table-container">
            <table class="tickets-table">
              <thead>
                <tr>
                  <th>Protocolo</th>
                  <th>Assunto</th>
                  <th>Requirente</th>
                  <th>Status</th>
                  <th>Analista Responsável</th>
                  <th>Prioridade</th>
                  <th>Última Atualização</th>
                  <th>Prazo primeiro Atendimento</th>
                  <th>Prazo Resolução</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of filteredTicketsByAnalyst" (click)="goToTicketDetails(ticket.id)">
                  <td class="ticket-id">{{ ticket.protocol }}</td>
                  <td class="ticket-assunto">{{ ticket.title }}</td>
                  <td class="ticket-assunto">
                    {{ ticket.customer.userEmail }} ({{ ticket.customer.organizationName }})
                  </td>
                  <td>
                    <span class="status-badge" [ngClass]="getStatusClass(ticket.status)">
                      {{ TranslateStatus(ticket.status) }}
                    </span>
                  </td>
                  <td>{{ ticket.analyst.analystEmail}}</td>
                  <td>
                    <span class="priority-badge" [ngClass]="getPriorityClass(ticket.priority)">
                      {{ TranslatePriority(ticket.priority) }}
                    </span>
                  </td>
                  <td class="ticket-update">{{ ticket.modifiedAt | date: 'HH:mm - dd/MM/yyyy' }}</td>
                  <td class="ticket-update">
                    <span [innerHTML]="ValidaSLA(ticket.slaInfo.firstInteraction)"></span>
                    {{ ticket.slaInfo.firstInteraction.deadline ? (' ' + (ticket.slaInfo.firstInteraction.deadline | date:'HH:mm - dd/MM/yyyy')) : '' }}
                  </td>
                  <td class="ticket-update">
                    <span [innerHTML]="ValidaSLA(ticket.slaInfo.resolution)"></span>
                    {{ ticket.slaInfo.resolution.deadline ? (' ' + (ticket.slaInfo.resolution.deadline | date:'HH:mm - dd/MM/yyyy')) : '' }}
                  </td>
                </tr>

                <tr *ngIf="filteredTicketsByAnalyst.length < 1">
                  <td colspan="9" style="text-align: center;" class="no-data">Sem tickets...</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div *appHasRole="'UsuarioOnlyPolicy'" class="card">
        <div class="card-header">
          <h2>Meus chamados em andamento</h2>
        </div>

        <div class="card-content">
          <div class="table-container">
            <table class="tickets-table">
              <thead>
                <tr>
                  <th>Protocolo</th>
                  <th>Assunto</th>
                  <th>Requirente</th>
                  <th>Status</th>
                  <th>Analista Responsável</th>
                  <th>Prioridade</th>
                  <th>Última Atualização</th>
                  <th>Prazo primeiro Atendimento</th>
                  <th>Prazo Resolução</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ticket of tickets" (click)="goToTicketDetails(ticket.id)" >
                  <td class="ticket-id">{{ ticket.protocol }}</td>
                  <td class="ticket-assunto">{{ ticket.title }}</td>
                  <td class="ticket-assunto">{{ ticket.customer.userEmail}} ({{ticket.customer.organizationName}})</td>
                  <td>
                    <span class="status-badge" [ngClass]="getStatusClass(ticket.status)">
                      {{ TranslateStatus(ticket.status) }}
                    </span>
                  </td>
                  <td>{{ ticket.analyst.analystEmail}}</td>
                  <td>
                    <span class="priority-badge " [ngClass]="getPriorityClass(ticket.priority)">
                      {{ TranslatePriority(ticket.priority) }}
                    </span>
                  </td>
                  <td class="ticket-update">{{ ticket.modifiedAt | date: 'HH:mm - dd/MM/yyyy'}}</td>
                  <td class="ticket-update">
                    <span [innerHTML]="ValidaSLA(ticket.slaInfo.firstInteraction)"></span>
                    {{ ticket.slaInfo.firstInteraction.deadline ? (' ' + (ticket.slaInfo.firstInteraction.deadline | date:'HH:mm - dd/MM/yyyy')) : '' }}
                  </td>
                  <td class="ticket-update">
                    <span [innerHTML]="ValidaSLA(ticket.slaInfo.resolution)"></span>
                    {{ ticket.slaInfo.resolution.deadline ? (' ' + (ticket.slaInfo.resolution.deadline | date:'HH:mm - dd/MM/yyyy')) : '' }}
                  </td>
                </tr>

                <tr *ngIf="tickets.length < 1">
                  <td colspan="9" style="text-align: center;" class="no-data">Sem tickets...</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>
