<div class="page-container">
  <div class="company-header">
    <div class="company-identity">
      <div class="company-logo-placeholder">T</div>
      <div class="company-info">
        <h1>{{company.name}}</h1>
        <span class="status-badge status-active">{{company.status}}</span>
      </div>
    </div>
    <div class="header-actions">
      <button class="btn btn-danger">
        <i class="fa-solid fa-power-off"></i>
        Desativar Empresa
      </button>
      <!-- <button class="btn btn-secondary">
        <i class="fa-solid fa-key"></i>
        Resetar Senha do Admin
      </button> -->
    </div>
  </div>

  <div class="tabs-navigation">
    <button class="tab-button" 
        [class.active]="abaAtiva === 'visaoGeral'" 
        (click)="mudarAba('visaoGeral')">
      <i class="fa-solid fa-chart-line"></i>
      Visão Geral
    </button>
    <button class="tab-button" 
        [class.active]="abaAtiva === 'usuarios'" 
        (click)="mudarAba('usuarios')">
      <i class="fa-solid fa-users"></i>
      Usuários
    </button>
    <button class="tab-button" 
        [class.active]="abaAtiva === 'atividade'" 
        (click)="mudarAba('atividade')">
      <i class="fa-solid fa-list-check"></i>
      Atividade Recente
    </button>
  </div>

  <div class="tab-content-wrapper">
    <div class="tab-content active-content" *ngIf="abaAtiva === 'visaoGeral'">
      
      <div class="content-header">
        <h3>Informações Cadastrais</h3>
        <button class="btn btn-secondary-outline" (click)="ToggleEdit()">
            <i class="fa-solid fa-pencil"></i>
            Editar Dados
        </button>
    </div>

    <div class="details-view" *ngIf="!isEditing">
        <div class="detail-group">
            <h4>Informações Principais</h4>
            <div class="detail-item">
                <label>Nome da Empresa</label>
                <p>{{company.name}}</p>
            </div>
            <div class="detail-item">
                <label>CNPJ</label>
                <p>{{company.cnpj | mask: '00.000.000/0000-00'}}</p>
            </div>
            <div class="detail-item">
                <label>Telefone</label>
                <p>{{company.phoneNumber | mask: '00 00 00000-0000'}}</p>
            </div>

        </div>
        <div class="detail-group">
            <h4>Endereço</h4>
            <div class="detail-item">
                <label>Endereço</label>
                <p>{{company.address.street}} - {{company.address.number}} / {{company.address.neighborhood}}</p>
            </div>
            <div class="detail-item">
                <label>Cidade / Estado</label>
                <p>{{company.address.city}} / {{company.address.state}}</p>
            </div>
            <div class="detail-item">
                <label>CEP</label>
                <p>{{company.address.postalCode | mask: '00000-000'}}</p>
                </div>
            </div>
        </div>

        <div class="edit-view" *ngIf="isEditing">
            <form class="company-form" (submit)="SubmitCompanyChanges()">
                <div class="form-section">
                <div class="form-grid">
                    <div class="form-group full-width">
                        <input type="text" name="name" placeholder=" " [(ngModel)]="updateRequest.Name" required>
                        <label for="name">Nome da Empresa</label>
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" placeholder=" " [(ngModel)]="updateRequest.Email" required>
                        <label for="email">Email</label>
                    </div>
                    <div style="display: flex; width: 100%; justify-content: space-between; gap: 1%; flex: 1;">
                      <div class="form-group" style="width: 100%;">
                        <input type="text" name="cnpj" placeholder=" " mask="00.000.000/0000-00" maxlength="14" [(ngModel)]="updateRequest.CNPJ" required>
                        <label for="cnpj">CNPJ</label>
                      </div>
                      <div class="form-group" style="width: 100%;">
                          <input type="tel" name="phoneNumber" mask="00 00 00000-0000" maxlength="13" [(ngModel)]="updateRequest.PhoneNumber" placeholder=" ">
                          <label for="phoneNumber">Telefone Principal</label>
                      </div>
                    </div>
                </div>
                </div>
                <div class="form-section">
                    <div class="form-grid">
                        <div style="display: flex; width: 100%; justify-content: space-between; gap: 1%; flex: 1;">
                          <div class="form-group" style="width: 100%;">
                            <input type="text" name="postalCode" mask="00000-000" maxlength="8" [(ngModel)]="updateRequest.PostalCode" placeholder=" " >
                            <label for="postalCode">CEP</label>
                        </div>
                        <div class="form-group" style="width: 100%;">
                            <input type="text" name="country" [(ngModel)]="updateRequest.Country" placeholder=" ">
                            <label for="country">País</label>
                        </div>
                        </div>
                        <div style="display: flex; width: 100%; justify-content: space-between;">
                          <div class="form-group" style="width: 79%;">
                            <input type="text" name="street" [(ngModel)]="updateRequest.Street" placeholder=" ">
                            <label for="street">Endereço</label>
                          </div>
                          <div class="form-group" style="width: 19%;">
                              <input type="text" name="number" [(ngModel)]="updateRequest.Number" placeholder=" ">
                              <label for="number">Numero</label>
                          </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="neighborhood" [(ngModel)]="updateRequest.Neighborhood" placeholder=" ">
                            <label for="neighborhood">Bairro</label>
                        </div>
                        <div style="display: flex; width: 100%; justify-content: space-between; gap: 1%; flex: 1;">
                          <div class="form-group" style="width: 100%;">
                            <input type="text" name="city" [(ngModel)]="updateRequest.City" placeholder=" ">
                            <label for="city">Cidade</label>
                          </div>
                          <div class="form-group" style="width: 100%;">
                              <input type="text" name="state" [(ngModel)]="updateRequest.State" placeholder=" ">
                              <label for="state">Estado</label>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button (click)="ToggleEdit()" type="button" class="btn btn-secondary">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                </div>
            </form>
        </div>
    </div>

    <div class="tab-content active-content" *ngIf="abaAtiva === 'usuarios'">
      <div class="table-header">
        <h3>Usuários da Empresa</h3>
        <button class="btn btn-primary-outline">
          <i class="fa-solid fa-user-plus"></i>
          Convidar Novo Usuário
        </button>
      </div>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Papel (Role)</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>João da Silva (Admin)</td>
              <td>joao.silvatechsolutions.com</td>
              <td><span class="role-badge role-admin">Admin</span></td>
              <td><button class="btn-manage-sm">Editar</button></td>
            </tr>
            <tr>
              <td>Maria Oliveira</td>
              <td>maria.otechsolutions.com</td>
              <td><span class="role-badge role-analyst">Analista</span></td>
              <td><button class="btn-manage-sm">Editar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
