<div>
    <div style="width: 100%; display: flex; justify-content: space-between; margin-bottom: 2%;">
        <h3>
            Gerenciamento de Clientes
        </h3>

        <button class="fake-button" [routerLink]="['/create-organization']">
            <i class="fa-solid fa-user-plus"></i>
            Cadastrar Cliente
        </button>
    </div>

    <table >
        <thead>
            <tr>
                <th>Nome</th>
                <th>CNPJ</th>
                <th>Email</th>
                <th>Criado em</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let org of current_orgs">
                <td style="display: flex; align-items: center; gap:5%; background-size: cover; background-position: center;">
                   <div class="avatar-container">
                        <!-- Se a URL existe, o [style.background-image] será aplicado -->
                        <!-- Se não existe, a classe .avatar-placeholder (com seu background-color) será a única a agir -->
                        <div 
                            class="avatar-display" 
                            [class.avatar-placeholder]="!org.profileUrl"
                            [style.background-image]="org.profileUrl ? 'url(' + org.profileUrl.replace('https', 'http' ) + ')' : null">
                            
                            <!-- O ícone só aparece se não houver imagem -->
                            <i *ngIf="!org.profileUrl" class="fa-solid fa-building"></i> 
                            <!-- Usei 'fa-building' para organização, mas pode ser 'fa-user' -->
                        </div>
                    </div>
                    {{ org.name }}
                </td>
                <td>{{ org.cnpj }}</td>
                <td>{{ org.email }}</td>
                <td>{{ org.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>
                  <a [routerLink]="['/org', org.id]">
                    <i class="fa-regular fa-eye"></i>
                  </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>