<nav class="sidenav" [class.collapsed]="isCollapsed">
  <div class="sidenav-header">
    <h2 *ngIf="!isCollapsed">Menu</h2>
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i class="fas" [ngClass]="isCollapsed ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
    </button>
  </div>

  <ul>
    <li *appHasRole="'UsuarioPolicy'">
      <a routerLink="/dashboard" routerLinkActive="active">
        <i class="fa-solid fa-house"></i>
        <span *ngIf="!isCollapsed">Início</span>
      </a>
    </li>

    <li *appHasRole="'UsuarioPolicy'">
      <a routerLink="/solicitacoes" routerLinkActive="active">
        <i class="fas fa-ticket"></i>
        <span *ngIf="!isCollapsed">Chamados</span>
      </a>
    </li>

    <li *appHasRole="'AdminPolicy'">
      <a routerLink="/analise" routerLinkActive="active">
        <i class="fa-solid fa-chart-line"></i>
        <span *ngIf="!isCollapsed">Análise</span>
      </a>
    </li>

    <li *appHasRole="'UsuarioPolicy'">
      <a routerLink="/gerenciamento" routerLinkActive="active">
        <i class="fas fa-cogs"></i>
        <span *ngIf="!isCollapsed">Gerenciamento</span>
      </a>
    </li>

    <li *appHasRole="'MasterAdminPolicy'">
      <a routerLink="/master-dashboard" routerLinkActive="active">
        <i class="fa-solid fa-globe"></i>
        <span *ngIf="!isCollapsed">Master Dashboard</span>
      </a>
    </li>

    <li *appHasRole="'MasterAdminPolicy'">
      <a routerLink="/master-list-companies" routerLinkActive="active">
        <i class="fa-solid fa-building"></i>
        <span *ngIf="!isCollapsed">Empresas Cadastradas</span>
      </a>
    </li>

    <li *appHasRole="'MasterAdminPolicy'">
      <a routerLink="/master-register-admin" routerLinkActive="active">
        <i class="fa-solid fa-user-tie"></i>
        <span *ngIf="!isCollapsed">Administradores Cadastrados</span>
      </a>
    </li>
  </ul>
</nav>
