.sidenav {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  position: relative; /* ESSENCIAL para o pseudo-elemento funcionar */
}

.sidenav::after {
  content: '';
  position: absolute;
  top: 0;
  right: -6px;
  width: 6px;
  height: 100%;
  
  box-shadow: 4px 0 6px -4px rgba(0, 0, 0, 0.1);
  
  z-index: -1;
  pointer-events: none; 
}


.sidenav.collapsed {
  width: 80px;
}

.sidenav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.sidenav-header h2 {
  font-size: 1.2rem;
  color: #2c3e50;
  margin: 0;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #2c3e50;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.toggle-btn:hover {
  color: #1e3447;
  transform: scale(1.1);
}

.sidenav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.sidenav li {
  margin-bottom: 12px;
}

.sidenav a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: 500;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.sidenav a i {
  font-size: 1.1rem;
  margin-right: 1rem;
  transition: margin 0.3s ease;
}

.sidenav.collapsed a i {
  margin-right: 0;
  text-align: center;
  width: 100%;
}

.sidenav a:hover,
.sidenav a.active {
  background-color: #1e3447;
  color: #ffffff;  
}

.sidenav.collapsed a span {
  display: none;
}

@media (max-width: 768px) {
  .sidenav {
    position: absolute;
    height: 100%;
    z-index: 200;
  }
}
