<div>
    <div style="width: 100%; display: flex; justify-content: space-between; margin-bottom: 2%;">
        <h3>
            Gerenciamento de usuários
        </h3>

        <button class="fake-button" [routerLink]="['/novo-usuario']">
            <i class="fa-solid fa-user-plus"></i>
            Novo usuário
        </button>
    </div>

    <table >
        <thead>
            <tr>
                <th>Nome de usuário</th>
                <th>Email</th>
                <th>Organização</th>
                <th>Perfis</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.organization ? user.organization : '-' }}</td>
                <td>
                    <span *ngFor="let role of user.roles; let last = last">
                    {{ role }}<span *ngIf="!last">, </span>
                    </span>
                </td>
                <td>
                   <div class="table-buttons">
                        <button (click)="openDialog(dialogUser, user)">Editar</button>
                        <button (click)="openDialog(dialogRoles, user)">Gerenciar Perfis</button>
                        <button (click)="remover(user)">Remover</button>
                   </div>
                </td>
            </tr>
        </tbody>
    </table>

    <dialog #dialogEditUser class="dialog-edit-user">
        <div>
            <h3>Editar Usuário</h3>

        <div class="dialog-edit-user-container">
            <div class="label-input">
                <label>Usuário</label>
                <input type="text" [(ngModel)]="selectedUser.username" name="username">
            </div>

            <div class="label-input">
                <label>Email</label>
                <input type="text" [(ngModel)]="selectedUser.email" name="email">
            </div>

            <div class="label-input">
                <label>Organização</label>
                <select [(ngModel)]="selectedUser.organizationId" name="organization">
                    <option *ngIf="!selectedUser.organization" [ngValue]="null">
                        Selecione a organização
                    </option>

                    <option *ngIf="selectedUser.organization" [ngValue]="null">
                        {{ selectedUser.organization }}
                    </option>

                    <option *ngFor="let organization of orgs" [ngValue]="organization.id">
                        {{ organization.name }}
                    </option>
                </select>
            </div>

            <div class="dialog-buttons-container">
                <button type="button" (click)="EditUser()">Salvar</button>
                <button type="button" (click)="closeDialog(dialogUser)">Cancelar</button>
            </div>
        </div>
    </div>
  </dialog>

  <dialog #dialogEditRoles class="dialog-edit-user">
        <div>
            <h3>Gerenciar Perfis</h3>

        <div class="dialog-edit-user-container">
            <div class="role-cbx-container" *ngFor="let role of roles">
                <label>{{role}}</label>
                <input type="checkbox" [value]="role" [checked]="selectedUser.roles.includes(role)" (change)="onRoleChange($event, role)">
            </div>
            <div class="dialog-buttons-container" style="margin-top: 8%;">
                <button type="button" (click)="EditRoles()">Salvar</button>
                <button type="button" (click)="closeDialog(dialogRoles)">Cancelar</button>
            </div>
        </div>
    </div>
  </dialog>
</div>