@import 'ngx-toastr/toastr';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
  --header-height: 4rem;
  --footer-height: 3.5rem;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}